@import 'base/_imports.scss';

.timeline-list-block {

    .the-title {
        @include h2();
    }

    .the-list {
        margin-bottom: rem(32px);

        li {
            list-style: none;
            margin: 0;
            display: grid;
            grid-template-columns: 15ch auto;

            &:last-of-type {

                .dates,
                .info {
                    padding-bottom: 0;
                }
            }
        }

        .dates {
            text-align: right;
            padding: 0 rem(32px) rem(32px) 0;
        }

        .info {
            padding: 0 0 rem(32px) rem(32px);
            border-left: rem(2px) solid $gray-15;
            position: relative;

            &::after {
                width: rem(32px);
                height: rem(32px);
                display: block;
                position: absolute;
                border-radius: 50%;
                content: "";
                border: rem(2px) solid $gray-15;
                background-color: $white;
                left: rem(-16px);
                top: rem(-8px);
            }
        }
    }

    .the-cta {
        @include icon_link();

        display: inline-flex;
        align-items: center;
    }
}
