$blue: #09f;
$black: #000;
$white: #fff;



/// Interesting color pallettes via https://cloudflare.design/color/

// Like 1
$tropical-forest: #004841;
$snow: #fff7fc;
$sky-of-magritte: #0099ff;
$fantasy-console-sky: #22a6ff;

// Like 2
$foundation-white: #eaecff;
$big-stone: #374147;
$renanthera-orchid: #7f004c;
$chromis-damsel-blue: #80ccff;

// Like 3
$violet-blue: #4a00ba;
$pretty-in-pink: #ffc1e6;
$coy: #fff8f4;
$spring-white: #ebffe8;

// Like 4
$big-stone: #374147;
$coy: #fff8f4;
$sand-yellow: #fff070;
$sidewalk-grey: #7a8c97;

// Like 5
$indigo-dye: #00426e;
$sand-yellow: #fff070;
$sky-of-magritte: #0099ff;
$fantasy-console-sky: #22a6ff;

// Like 6
$red-wine: #820034;
$blanched-almond: #ffebcd;
$olive-green: #677200;
$antigua-blue: #00b0c4;

// Like 7
$mango-green: #96fa00;
$indigo-dye: #00426e;
$pink-delight: #ff8dd1;
$renanthera-orchid: #7f004c;

// Like 8
$mango-green: #96fa00;
$indigo-dye: #00426e;
$link-green: #009f3f;
$nervous-neon-pink: #ff68c2;

// Like 9
$big-stone: #374147;
$tibetan-yellow: #fce200;
$pervenche: #008deb;
$red-devil: #85000e;

// Like 10
$darkish-blue: #003f7e;
$tea-biscuit: #f6ece2;
$blue-lobster: #0055ad;
$light-water-wash: #c0d5eb;

// Like 11
$snow-plum: #f8eaf1;
$darkish-blue: #003f7e;
$blue-lobster: #0055ad;
$lavender-pink: #d781d7;

// Brand colors
$facebook          : #3b5998;
$twitter           : #1da1f2;
$linkedin          : #0077b5;
$github            : #333;
$instagram         : #fd1d1d;
$instagram-gradient: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
$youtube           : #ff0000;
$lastfm            : #d51007;
$wordpress         : #21759b;
$stackoverflow     : #f48024;
