$blue: #09f;
$black: #000;
$white: #fff;

// Brand colors
$facebook          : #3b5998;
$twitter           : #1da1f2;
$linkedin          : #0077b5;
$github            : #333;
$instagram         : #fd1d1d;
$instagram-gradient: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
$youtube           : #ff0000;
$lastfm            : #d51007;
$wordpress         : #21759b;
$stackoverflow     : #f48024;
