/**
 * 18px perfect fourth scale. See https://typescale.com/
 */

@mixin h1($fontWeight: 900) {
    font-family: $headline-font;
    font-size: rem(100px);
    line-height: 1.15;
    font-weight: $fontWeight;
    color: $gray-90;
}

@mixin h2($fontWeight: 900) {
    font-family: $headline-font;
    font-size: rem(76px);
    line-height: 1.15;
    font-weight: $fontWeight;
    color: $gray-90;
}

@mixin h3($fontWeight: 700) {
    font-family: $headline-font;
    font-size: rem(56px);
    line-height: 1.15;
    font-weight: $fontWeight;
    color: $gray-90;
}

@mixin h4($fontWeight: 700) {
    font-family: $headline-font;
    font-size: rem(42px);
    line-height: 1.15;
    font-weight: $fontWeight;
    color: $gray-90;
}

@mixin h5($fontWeight: 700) {
    font-family: $headline-font;
    font-size: rem(32px);
    line-height: 1.15;
    font-weight: $fontWeight;
    color: $gray-90;
}

@mixin h6($fontWeight: 700) {
    font-family: $headline-font;
    font-size: rem(24px);
    line-height: 1.15;
    font-weight: $fontWeight;
    color: $gray-90;
}
