{% extends 'base.twig' %}

{% block content %}
	<div class="content wysiwyg">
		<h1>{{ site_name }}'s Style Guide</h1>
		<ol>
			<li><a href="common-html/">Common HTML</a></li>
			<li><a href="inspiration/">Inspiration</a></li>
		</ol>
	</div>
{% endblock %}
