{% extends 'base.twig' %}

{% block content %}
	<div class="content wysiwyg">
		<h1>{{ site_name }}'s Style Guide</h1>
		<ol>
			<li><a href="common-html/">Common HTML</a></li>
			<li><a href="icons/">Icons</a></li>
			<li><a href="colors/">Colors</a></li>
			<li><a href="inspiration/">Inspiration</a></li>

			<li><a href="pagination/">Pagination</a></li>
			<li><a href="comments/">Comments</a></li>
		</ol>

		<h2 class="wp-block-heading">Blocks</h2>
		<ol>
			<li><a href="talk-teaser-block/">Talk Teaser Block</a></li>
			<li><a href="text-image-block/">Text/Image Block</a></li>
			<li><a href="timeline-list-block/">Timeline List Block</a></li>
		</ol>
	</div>
{% endblock %}
