.archive-item {
	display: block;
	margin-left: rem(-16px);
	padding: rem(16px) rem(16px);

	&:hover,
	&:focus {
		background-color: $light-gray;
	}
}

.archive-item-meta {
	display: block;
	font-size: em(14px);
	font-weight: 100;
}

.archive-item-date {
}

.archive-item-comment-count {

}

.archive-item-title {
	font-size: em(28px);
	line-height: 1.25;
	font-weight: 700;
	padding-top: em(4px, 28px);
	margin-bottom: em(8px, 28px);
}

.archive-item-excerpt {
	padding-top:em(8px);
}
