.footer-social-media-items {
	display: flex;
	flex-direction: row;
 	flex-wrap: no-wrap;
	align-items: center;
}

.footer-social-media-item {
	font-size: em(32px);
	color: $white;
	flex: 1 1 0;
	margin: auto;
	padding: em(8px, 32px);
	text-align: center;
}

.footer-social-media-item--twitter {
	background-color: $twitter;
}

.footer-social-media-item--facebook {
	background-color: $facebook;
}

.footer-social-media-item--linkedin {
	background-color: $linkedin;
}

.footer-social-media-item--github {
	background-color: $github;
}

.footer-social-media-item--instagram {
	background: $instagram-gradient;
}

.footer-social-media-item--youtube {
	background-color: $youtube;
}

.footer-social-media-item--lastfm {
	background-color: $lastfm;
}

.footer-social-media-item--wordpress {
	background-color: $wordpress;
}

.footer-social-media-item--stackoverflow {
	background-color: $stackoverflow;
}
