.site-title {
	font-size: 20vw;
	letter-spacing: rem(-1px);
	font-weight: 900;
	text-align: center;
	white-space: nowrap;

	a {
		padding-bottom: rem(36px);
		display: block;
	}

	&:hover,
	&:focus {
		background-color: $light-gray;
	}
}
