.site-title {
	font-size: em(36px);
	letter-spacing: em(-1px, 36px);
	font-weight: 900;

	a {
		padding: em(36px, 36px);
		display: block;
	}

	&:hover,
	&:focus {
		background-color: $light-gray;
	}
}
