img {
  max-width: 100%;
  height: auto;
}

.alignleft {
  float: none;
}

.alignright {
  float: none;
}

.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

responsive-embed {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
	margin-bottom: em(30px);

	iframe,
	object,
	embed {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
	}
}

@media(min-width: em(700px)) {
	.alignleft {
	  float: left;
	  margin: 0 em(16px) em(16px) 0;
	}

	.alignright {
	  float: right;
	  margin: 0 0 em(16px) em(16px);
	}
}
