.sidebar-site-nav {
    position: fixed;
    height: 100vh;
    background-color: $blue;
    right: 0;
    width: 22vw;

    display: flex;
    flex-direction: column;
    padding-top: 1.55vw;

    box-shadow: inset rem(3px) 0 rem(5px) 0 rgba(0, 0, 0, 0.2);

	.site-search {
		// padding: rem(16px) 0;

		.input {
			font-size: rem(32px);
			font-weight: 200;
        	padding: rem(16px) rem(8px) rem(16px) rem(26px);
			color: $white;
			background-color: rgba( $white, 0.15);
			font-weight: 200;
			border: 0 none;
			width: 100%;

			&:focus {
				background-color: $white;
				color: $blue;
			}

			&::placeholder {
				color: $white;
			}
		}
	}



    p {
        color: $white;
        text-transform: uppercase;
        font-size: 7.5vw;
        font-weight: 900;
        line-height: 1.166;
        padding-left: rem(24px);
    }

    a {
        display: block;
        font-size: rem(32px);
        padding: rem(16px) rem(8px) rem(16px) rem(26px);
        color: $white;
        font-weight: 200;

        &:hover,
        &focus {
            background-color: $white;
            color: $blue;
        }
	}
}
