.wysiwyg {

	p {
		font-size: rem(21px);
		line-height: 1.6;
		margin-bottom: rem(25px);
		max-width: 60ch;
	}

	a {
		text-decoration: underline;
		text-decoration-color: $blue;
	}

	ul,
	ol {
		padding-left: rem(16px);
		margin-bottom: rem(25px);
	}

	ul {
		list-style: disc;
	}

	ol {
		list-style: decimal;
	}

	li {
		font-size: rem(21px);
		max-width: 60ch;
		line-height: 1.6;
		margin-bottom: em(12.5px, 21px);
	}
}
