{% extends 'base.twig' %}

{% block content %}

	{% if upcoming_talks %}
		<h1>Upcoming Speaking Engagements</h1>
		{{ upcoming_talks }}
	{% endif %}

	<h1>Invited Talks &amp; Speaking Engagements</h1>
	{{ talks }}
	{{ pagination }}
{% endblock %}
