{% extends 'base.twig' %}

{% block content %}

	<section class="archive-description">
		<p>If you're interested in having me speak at your event, please feel free to reach out.</p>
		<p>Inspiration:</p>
		<ul>
			<li><a href="http://tobiasahlin.com/speaking/">http://tobiasahlin.com/speaking/</a></li>
			<li><a href="https://chriscoyier.net/speaking/">https://chriscoyier.net/speaking/</a></li>
		</ul>
	</section>

	{% if upcoming_talks %}
		<section class="upcoming-talks-section">
			<h2 class="archive-section-title">Upcoming Speaking Engagements</h1>
			{{ upcoming_talks }}
		</section>
	{% endif %}

	<section class="talks-section">
		<h2 class="archive-section-title">Invited Talks &amp; Speaking Engagements</h1>
		{% for item in talks %}
			{{ item }}
		{% endfor %}
	</section>

{% endblock %}
