<section class="comments">
	<h1>{{ comments_count }} {{ comment_label }}</h1>
	{% if comments_list %}
		<ol class="comments-list">
			{{ comments_list }}
		</ol>
	{% endif %}

	{{ comment_form }}

</section>
