<footer class="footer" id="footer">
	<div class="inner">
		<a href="{{ site_url|esc_url }}">
			<span class="screen-reader-text">{{ site_title }}</span>
		</a>
		<p class="copyright">&copy; {{ year }} </p>
	</div>
</footer>

{# Fix to prevent Chrome from firing CSS transitions on page load. See https://stackoverflow.com/a/42969608 #}
<script></script>
