{% extends 'base.twig' %}

{% block content %}
	<img src="{{ image_directory_url|esc_url }}/russell-heimlich-with-pogo-stick.jpg" width="600">
	<h2>Taglines</h2>
	<p>A fullstack developer from AWS to z-index</p>
	<p>I wrangle with technical problems so other people can do big things</p>
	<p>I handle the technical fiddly-bits so others can do the things they need to do</p>
	<p>Handling the technical fiddly-bits since 2006</p>
{% endblock %}
