<a id="top" href="#content" class="screen-reader-text skip-to-content-link">Skip to Content</a>
<header class="site-header">
	<h1 class="site-title">
		<a href="{{ site_url|esc_url }}">Russell Heimlich</a>
	</h1>

	<nav class="site-nav">
		<a href="/blog/" title="Thoughts and Random Musings">Blog</a>
		{# }<a href="/projects/" title="Side Projects">Projects</a> #}
		<a href="/talks/" title="Invited Talks and Speaking Engagements">Talks</a>
		<a href="/search/">Search</a>
	</nav>
</header>
