	<nav class="site-nav">
		<a href="/blog/" title="Thoughts and Random Musings">Blog</a>
		{# }<a href="/projects/" title="Side Projects">Projects</a> #}
		<a href="/speaking/" title="Invited Talks and Speaking Engagements">Speaking</a>
		<a href="/search/">Search</a>
	</nav>
