<a id="top" href="#content" class="screen-reader-text skip-to-content-link">Skip to Content</a>
<h1 class="site-title">
	<a href="{{ site_url|esc_url }}">Russell Heimlich</a>
</h1>

<nav>
	<p>
		Nav:
		<a href="/blog/">Blog</a>
		<a href="/video/">Projects</a>
		<a href="/video/">Videos</a>
		<a href="/photo/">Photos</a>
		<a href="/about/">About</a>
		<a href="/talks/">Taks & Presentations</a>
		<a href="/interviews/">Podcasts & Interviews</a>
		<a href="/blogroll/">Blogroll</a>
		<a href="/contact/">Contact</a>
	</p>
</nav>
