{% extends 'base.twig' %}

{% block content %}

	<div class="the-content">
		<section class="archive-description">
			<p>(Index)</p>
		</section>

		<section>
			{{ the_loop }}
		</section>
	</div>

	{{ pagination }}

{% endblock %}
