{% extends 'base.twig' %}

{% block content %}
	<article class="the-page">
		<section class="the-content wysiwyg content-grid">
			{% if the_title %}
				<h1 class="the-title">
					{{ the_title }}
				</h1>
			{% endif %}

			{{ the_content }}
		</section>

		{{ after_the_content }}
	</article>

	{{ after_the_page }}
{% endblock %}
