<a href="{{ url|esc_url }}" class="archive-item archive-item--post">
	{% if display_datetime %}
		<time class="date" datetime="{{ machine_date|esc_attr }}">{{ display_datetime }}</time>
	{% endif %}

	{% if title %}
		<h2 class="title">{{ title }}</h2>
	{% endif %}
</a>
